  <div class="recipe_details_page" >
	<p class="recipe_details_name"><%=recipe.name%></p>
  <div class="recipe_main_content">
    <div class="recipe_details_details">
	    <p>Prepration time: <%="#{(recipe.prepration_time/60).to_i}h #{(recipe.prepration_time%60).to_i}mins"%></p>
      <p>Cooking time: <%="#{(recipe.cooking_time/60).to_i}h #{(recipe.cooking_time%60).to_i}mins"%></p>
      <p>Description: <%=recipe.description%></p>
    </div>
    <% if can? :manage, recipe%>
	  <div class="public_switch">
		 <%=form_with url: recipe_path, method: :put do %>
             public: <label class="switch">
               <%= check_box_tag "public",@recipe.public,@recipe.public, onchange: "this.form.submit()" %>
               <span class="slider round"></span>
             </label>
             <%end%> 
    </div>
    <%end%>
  </div>
     <% if can? :manage, recipe%>
     <div class="recipe_details_buttons">
    <%= link_to shopping_list_path(recipe_id: recipe.id) do%>
    <button>Generate shopping list</button>
    <%end%>
    <%= link_to new_recipe_recipe_food_path(recipe_id: recipe.id) do %>
    <button>Add ingredient</button>
    <%end%>
    </div>
    <%end%>
    <hr>
    <table class="table_div">
      <thead>
        <tr>
          <th>Food</th>
          <th>Quantity</th>
          <th>value</th>
          <% if can? :manage, recipe%>
          <th>Actions</th>
          <%end%>
        </tr>
      </thead>
      <tbody>
        <%foods.each do |food|%> 
          <tr><%=render partial: "recipes/food", locals:{food:food,recipe:recipe}%></tr>
        <%end%> 
      </tbody>
   <table>  
</div>	